<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-pluginswiftdemo" version="1.0.0">
   
   <name>PluginSwiftDemo</name>

   <js-module name="PluginSwiftDemo" src="www/PluginSwiftDemo.js">
      <clobbers target="PluginSwiftDemo" />
   </js-module>
   
   <platform name="ios">
      <config-file parent="/*" target="config.xml">
      <preference name="UseSwiftLanguageVersion" value="5" />
         <feature name="PluginSwiftDemo">
            <param name="ios-package" value="PluginSwiftDemo" />
         </feature>
      </config-file>
      <source-file src="src/ios/PluginSwiftDemo.swift" />
      <dependency id="cordova-plugin-add-swift-support" version="2.0.2" />
   </platform>
   
   <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="PluginSwiftDemo">
            <param name="android-package" value="cordova-plugin-pluginswiftdemo.PluginSwiftDemo" />
         </feature>
      </config-file>
      <config-file parent="/*" target="AndroidManifest.xml" />
      <source-file src="src/android/PluginSwiftDemo.java" target-dir="src/cordova-plugin-pluginswiftdemo/PluginSwiftDemo" />
   </platform>
</plugin>